.hero-section {
  display: flex;
  align-items: center;
  padding-right: 30rem;
  padding-left: 10rem;
  padding-top: 12rem;
  padding-bottom: 5rem;
  justify-content: space-between;
  background-color: #31065A;
  margin: -8px;
}

.hero-content {
  max-width: 50%;
}

.hero-content h2 {
  font-size: 1.5rem;
  color: #F86F03;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}

.hero-content p {
  font-size: 1rem;
  color: #fff;
}

.highlight {
  color: #F86F03;
  font-weight: bold;
}

.hero-icons {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.hero-icons a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.hero-icons a:hover {
  color: #f9b233;
}

.cv-button {
  background-color: #f9b233;
  color: #fff;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.cv-button:hover {
  background-color: #e69a19;
}

.hero-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}
