.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #170550;
  color: #fff;
  margin: -8px;
  position: relative; /* Add this to enable relative positioning */
}

.navbar-logo h1 {
  font-size: 1.5rem;
  margin: 0;
  color: #f9b233;
}

.navbar-logo p {
  margin: 0;
  font-size: 0.9rem;
  color: #f1f1f1;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.navbar-links li a:hover {
  color: #f9b233;
}

.navbar-button {
  background-color: #fff;
  color: #333;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

.navbar-button:hover {
  background-color: #e69a19;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-toggle {
    display: flex;
    position: absolute;
    top: 20px; /* Adjusts vertical position */
    right: 20px; /* Moves the toggle to the right */
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    background-color: #170550;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-button {
    margin-top: 1rem;
  }
}
