.skills-section {
  padding: 2rem;
  text-align: center;
  background-color: #170550;
  margin: -8px;
}

.skills-section h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-items: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-item img {
  width: 60px;
  height: auto;
  margin-bottom: 0.5rem;
}

.skill-item p {
  font-size: 2rem;
  color: #fff;
}

@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
